* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(44, 44, 44);
}
.container {
}
.container h2 {
	position: absolute;
	font-size: 8em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.container h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
.container h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(0 70%, 21% 74%, 47% 63%, 71% 70%, 86% 65%, 100% 64%, 100% 99%, 1% 100%);
	}
	50% {
		clip-path: polygon(0 70%, 15% 57%, 44% 69%, 63% 61%, 81% 69%, 100% 64%, 100% 99%, 1% 100%);
	}
}
